* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

/* Top mail Strip */
.top-strip {
  background-color: #4a915b;
  color: white;
  font-size: 14px;
  padding: 5px 0;
  transition: top 0.3s ease;
  position: relative;
  z-index: 1000;
}

.top-right {
  text-align: right;
}

/* Sticky White Navbar */
.main-navbar {
  background: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i{
  margin-right: 10px;
}

.logo h1 {
  height: 50px;
  margin-right: 10px;
  font-size: 2.8em;
  letter-spacing: 1px;
  color: #3dce75;
}

.tagline {
  font-size: 14px;
  color: #444;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links a.active{
  color: #3dce75;
  font-weight: bold;
}

/* Hover underline animation */
.nav-links a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #4a915b;
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav-links a:hover {
  color:#4a915b;
}

/* Donate button */
.donate-btn {
  background: linear-gradient(to right, #11998e, #38ef7d);
  color: white !important;
  padding: 9px 17px;
  border-radius: 20px;
  cursor: pointer;
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
   border: none;
   outline: none;
   font-size: 18px;
}
.donate-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
/* Dropdown styling */
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  padding: 10px 0;
  z-index: 1001;
  border-radius: 5px;
}

.dropdown-content a {
  padding: 8px 20px;
  color: black;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown-content a:hover {
 background: linear-gradient(to left, #11998e, #38ef7d);
 color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* Vision & Mission Section */
.vision-mission-section {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  background-color: #f5f6fb;
}

.vm-container {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.vm-box {
  background-color: #f0f0fb;
  padding: 30px;
  border-radius: 12px;
  flex: 1 1 300px;
  max-width: 500px;
  transition: all 0.3s ease;
  border: 0.1px solid #3dce75;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.vm-box:hover {
  transform: translateY(-5px);
   box-shadow: 0 4px 8px #4a915b;
}

.vm-box .icon {
  font-size: 28px;
  color: #4a915b;
  margin-bottom: 15px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  padding: 12px;
  border: 2px solid #3dce75;
}

.vm-box h3 {
  color: #3dce75;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.vm-box p {
  font-size: 0.95rem;
  color: #555;
}

/* Presence Section */
.presence-section {
  background-color: #f0f0fb;
  padding: 60px 20px;
}

.presence-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
  align-items: flex-start;
}

.presence-map {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

.presence-map img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.presence-text {
  flex: 1 1 500px;
}

.presence-text h2 {
  font-size: 2rem;
  color: #3dce75;
  margin-bottom: 20px;
}

.presence-text p {
  margin-bottom: 15px;
  font-size: 0.95rem;
  color: #444;
}

.presence-text ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

.presence-text ul li {
  list-style-type: disc;
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: #333;
}

/* our story section */
.our-story {
  padding: 60px 20px;
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.our-story .container {
  max-width: 1000px;
  margin: 0 auto;
}

.our-story .section-title {
  color: #3dce75;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.our-story p {
  margin-bottom: 15px;
  font-size: 15px;
}

.our-story .story-image {
  margin: 30px 0;
  text-align: center;
}

.our-story .story-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* History slider */

.history-section {
    padding: 40px 20px;
}
.history-slider-wrapper {
  overflow: hidden;
  max-width: 1350px; /* 5 * 270px */
  margin: auto;
}


.history-slider {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease-in-out;
  width: max-content;
}


.history-card {
  flex: 0 0 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px dotted #4a915b;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.history-card h4 {
  color: #3dce75;
  margin-bottom: 10px;
}

.history-card ul {
  padding-left: 20px;
}

.history-card ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

/* Trustees section */
.trustees-container {
    padding: 40px 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.trustee-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 220px;
  box-shadow: 0 4px 10px #4a915b;
  text-align: center;
  padding-bottom: 10px;
}

.trustee-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.trustee-card h4 {
  margin: 10px 0 5px;
  color: #3f3d56;
}

.trustee-card p {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}

 .history-section h2{
    text-align: center;
    color: #4a915b;
    margin-bottom: 30px;
 }
.trustees-section h2{
    text-align: center;
    color: #4a915b;
    margin-bottom: 30px;
}

/* footer section */
.footer-section {
  background-color: #4a915b;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  gap: 30px;
}

.footer-left, .footer-middle, .footer-right {
  flex: 1 1 300px;
}

#footer-logo {
  height: 30px;
  margin-bottom: 15px;
}

#footer-logo i{
  margin-right: 8px;
}

.footer-left p {
 
  line-height: 1.6;
}

.footer-section .donate-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.footer-middle h4,
.footer-right h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-middle li {
  margin-bottom: 5px; 
}

.footer-right p {
  margin: 10px 0;
}

.footer-right i {
  color: white;
  margin-right: 8px;
}

.footer-bottom {
  border-top: 1px solid #353535;
  margin-top: 30px;
  padding-top: 20px;
}

.social-icons {
  font-size: 28px;
  margin-bottom: 15px;
}

.social-icons i {
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease;
}

.social-icons i:hover {
  color: #38ef7d;
}

.bottom-links {
  margin-bottom: 10px;
  font-size: 15px;
}

.bottom-links a {
    text-decoration: none;
    margin: 0 4px;
    color: white;
    font-size: 15px;
}
.footer-bottom p {
  font-size: 15px;
}


/* responsive */
@media screen and (min-width: 769px) and (max-width: 914px){
.nav-links {
   font-size: 15px;
    gap: 0rem;
   
}
}














